<%= form_for @user do |f| %>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <button>Sign up</button>
<% end %>
