<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Thanks" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar" data-topbar>

      <ul class="title-area">
        <li class="name"><h1><a href="/">Thanks</a></h1></li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->

        <ul class="right">
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/signin">Sign in</a></li>
        </ul>
      </section>
    </nav>

    <% if alert %>
      <div class="row">
        <div class="small-12 columns">
          <div data-alert class="alert-box alert radius">
            <%= alert %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>

    <% if notice %>
      <div class="row">
        <div class="small-12 columns">
          <div data-alert class="alert-box info radius">
            <%= notice %>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 columns"><%= yield %></div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
